* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: auto;
    background-color: rgb(237, 237, 237);
    color: #006db7;
    padding: 10px 2rem 10px 2rem;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 40px;

}

.nav-menu a {
    text-decoration: none;
    color: rgb(64, 35, 248);
}

.bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: auto;
    background-color: #006db7;
    color: rgb(255, 255, 255);
}

.catalogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18rem;
    width: auto;
    background-color: #fafafa;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 170px;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 80x;
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #00aea0;
    color: #ffc400;
    font-weight: 900;
}

